<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="theTestKey" value="value-read-from-app.config-file"/>
    <add key="theAppConfigOnlyTestKey" value="value-read-from-app.config-file"/>
  </appSettings>
  <connectionStrings>
    <add name="theTestKey" connectionString="the-connection-string-from-app.config-file" providerName="the-provider-name-from-app.config-file"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
