<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="production" connectionString="Data Source=.;Network Library=DBMSSOCN;Initial Catalog=testdb;Trusted_Connection=True"/>    
    <add name="testDatabase" connectionString="Data Source=.;Initial Catalog=testdb;Trusted_Connection=True"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
